# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# PyCharm
.idea/

# Output files
output/*.md
!output/.gitkeep

# OS files
.DS_Store
Thumbs.db